* {
    box-sizing: border-box;
}

.container {
    display: flex;
    margin: auto;
}

#navbar {    
    position: fixed;
    width: 300px;
}

main {
    padding-left: 300px;
}

header {
    font-size: 2rem;
    font-weight: bold;
}

@media  (max-width: 750px) {
    .container {
        flex-direction: column;
    }
}