* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 80%;
    margin: auto;
}

#navbar {        
    height: 300px;
    padding:30px 15px;
    overflow: auto;
    background-color: rgba(0,0,0,.16);
    text-align: center; 
}

#navbar ul {
    padding: 0;
}

#navbar ul li {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color:  rgb(88, 101, 112);
    line-height: 2rem;
    width: auto;
}

main {
    color: rgb(88, 101, 112);
    padding-top: 30px;
    margin: 0;
    line-height: 1.5rem;
}

header {
    font-size: 2rem;
    font-weight: 400;
    color: #242A31;
    padding-top: 20px;
}

pre {
    border-radius: 5px;
    background-color: rgb(212, 212, 212);
    color: rgb(83, 83, 83);    
}

code {
    position: relative;
    font-family: 'Source Code Pro', monospace;
    font-size: 0.8rem;
}

@media  (min-width: 850px) {
    .container {
        display: flex;
        width: 100%;
    }

    #navbar {
        position: fixed;
        width: 350px;
        height: 675px;
        top: 0;
        left: 0;
        text-align: left;
        padding-left: 30px;
    }

    main {
        padding-left: 400px;
    }
}